<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: Settings.size_micro), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    <%= t "static_pages.alert.txt_post" %> <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user? micropost.user %>
      <%= link_to t("static_pages.user.deletee"), micropost, method: :delete,
        data: {confirm: t("static_pages.alert.text")} %>
    <% end %>
  </span>
</li>
